// ======================================== [COLORS PROJECT]
$color-1: hsl(135, 54%, 45%);
$color-2: hsl(135, 63%, 34%);
$color-3: hsla(135, 63%, 22%, 0.267);
$color-4: hsla(135, 63%, 56%, 0.3);
$color-5: hsla(0, 0%, 0%, 0.267);
$color-6: hsla(220, 8%, 23%, 0.15);
$color-7: hsl(220, 8%, 23%);

// ======================================== [GRADIENT PROJECT]
$gradient-1: linear-gradient(to right top, #208b3a, #2b9d46, #35b053, #40c360, #4ad66d);
$gradient-2: linear-gradient(to right top, #25a244, #27ab48, #29b44b, #2bbd4f, #2dc653);
